{% extends 'master.html' %}
{% load static %}

{% block title %}
    <title>Doctors Details</title>
{% endblock %}

{% block content %}
<div class="container my-4 border rounded p-3">
    <h3 class="text-primary">Doctor's Personal Info:</h3>

    <!-- Patient Details Section -->
    {% if doctor %}
        <div class="row gy-4">
            <div class="col-md-6">
                <table class="table table-striped">
                    <tr>
                        <td class="h6">First Name</td>
                        <td class="text-dark">{{ doctor.first_name }}</td>
                    </tr>
                    <tr>
                        <td class="h6">Last Name</td>
                        <td>{{ doctor.last_name }}</td>
                    </tr>
                    <tr>
                        <td class="h6">Phone Number</td>
                        <td>{{ doctor.email }}</td>
                    </tr>
                    <tr>
                        <td class="h6">Gender</td>
                        <td>{{ doctor.gender }}</td>
                    </tr>
                    <tr>
                        <td class="h6">Address</td>
                        <td>{{ doctor.department }}</td>
                    </tr>
                    <tr>
                        <td class="h6">Reg. No/td>
                        <td>{{ doctor.med_reg_num }}</td>
                    </tr>
                     <tr>
                        <td class="h6">Phone number</td>
                        <td>{{ doctor.phone_number }}</td>
                    </tr>
                </table>
            </div>
        </div>
    {% else %}
        <p class="text-danger text-center">No patient data available.</p>
    {% endif %}

    <!-- Patients List Section -->
    {% if doctor %}
{#        <h4 class="mt-5">All Doctors:</h4>#}
{#        <table class="table table-bordered mt-3">#}
{#            <thead>#}
{#                <tr>#}
{#                    <th>Name</th>#}
{#                    <th>Actions</th>#}
{#                </tr>#}
{#            </thead>#}
            <tbody>
                {% for doctor in doctors %}
                    <tr>
                        <td>{{ doctor.name }}</td>
                        <td>
                            <a href="{% url 'doctor_detail' doctor.id %}" class="btn btn-outline-info btn-sm">View</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
{% endblock %}
